#console-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
  width: 100%;

  overflow: auto;

  font-family: 'Courier New', Courier, monospace;
}

.console-entry {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cli-user {
  color: green;
}

.location {
  color: orange;
}

.arrow-right {
  scale: 0.8;
}
