header {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);

  height: max-content;
}

header > section {
  width: 100%;
  margin: 0;
  padding: 0;
}

#header-logo {
  border: 0;
  padding: 0;
  background-color: transparent;
  padding-block: 0;
  padding-inline: 0;
  line-height: 0;
}

#logo {
  height: 2rem;
}
